<div class="item-container col-md-6">
	<div class="item">
		<h1><%= item.title %></h1>
		<img class="img-responsive centered" src="<%= item.image_url %>" />
		<br />
		<h2><%= item.price %></h2>
		<br />
		<% if opts.include? :add_button %>
			<form role="form" name="add-item" action="/items/add/<%= item.dpci %>" method="post" style="overflow:auto;">
				<input type="submit" class="btn btn-default pull-left" value="Add Item">
			</form>
		<% end %>
		<% if opts.include? :remove_button %>
			<form role="form" name="remove-item" action="/items/expire/<%= item.dpci %>" method="post" style="overflow:auto;">
				<input type="submit" class="btn btn-default pull-left" value="Remove Item">
			</form>
		<% end %>
	</div>
</div>
